### IDyOM 

data/

### Sphinx

documentation/_*
documentation/conf_local.py

### Virtualenv

env/

### Python

*.pyc

### Dropbox

*.DS_Store

### VIM

[._]*.s[a-v][a-z]
[._]*.sw[a-p]
[._]s[a-v][a-z]
[._]sw[a-p]

Session.vim

.netrwhist
*~
tags

### CL

*.FASL
*.fasl
*.lisp-temp

### EMACS

# -*- mode: gitignore; -*-
*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
*.elc
auto-save-list
tramp
.\#*

### CL

*.FASL
*.fasl
*.lisp-temp

### EMACS

# -*- mode: gitignore; -*-
*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
*.elc
auto-save-list
tramp
.\#*

# Org-mode
.org-id-locations
*_archive

# flymake-mode
*_flymake.*

# eshell files
/eshell/history
/eshell/lastdir

# elpa packages
/elpa/

# reftex files
*.rel

# AUCTeX auto folder
/auto/

# cask packages
.cask/
